@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to my MovieDb!</h1>
            <p>This is a project created for ITalent</p>
        </div>
    </div>
    <section>
        <h1 class="section-title">Movies</h1>
        <section class="section-overview">
            <h2 class="section-subtitle">Now In Theaters</h2>
            <partial name="_MovieCarousel" for="@Model.TheaterMovies"/>
            <button class="more-btn">View More In Theaters</button>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Popular Movies</h2>
            <partial name="_MovieCarousel" for="@Model.PopularMovies"/>
            <button class="more-btn">View More Popular</button>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Top Rated Movies</h2>
            <partial name="_MovieCarousel" for="@Model.TopRatedMovies"/>
             <button class="more-btn">View More Top Rated</button>
        </section>
    </section >

     <section class="tv-section">
        <h1 class="section-title">TV-Shows</h1>
        <section class="section-overview">
            <h2 class="section-subtitle">Popular TV-Shows</h2>
            <partial name="_TvCarousel" for="@Model.TopRatedTVSeries"/>
             <button class="more-btn">View More Popular</button>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Top rated TV-Shows</h2>
              <partial name="_TvCarousel" for="@Model.PopularTVSeries"/>
            <button class="more-btn">View More Top Rated</button>
        </section>
    </section>


</div>

