@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to my MovieDb!</h1>
            <p>This is a project created for ITalent</p>
        </div>
    </div>
    <section>
        <h1 class="section-title">Movies</h1>
        <section class="section-overview">
            <h2 class="section-subtitle">Now In Theaters</h2>
            <button class="previous-btn"><img src="images/previous.png" alt=""></button>
            <button class="next-btn"><img src="images/next.png" alt=""></button>
            <div class="card-container">
                @foreach (var movie in Model.TheaterMovies)
                {
                    <partial name="_MovieCard" for="@movie" />
                }
            </div>
            <button class="more-btn">View In Theaters</button>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Popular Movies</h2>
            <button class="previous-btn"><img src="images/previous.png" alt=""></button>
            <button class="next-btn"><img src="images/next.png" alt=""></button>
            <div class="card-container">
                @foreach (var movie in Model.PopularMovies)
                {
                    <partial name="_MovieCard" for="@movie" />
                }
            </div>
             <button class="more-btn">View Popular Movies</button>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Top Rated Movies</h2>
            <button class="previous-btn"><img src="images/previous.png" alt=""></button>
            <button class="next-btn"><img src="images/next.png" alt=""></button>
            <div class="card-container">
                @foreach (var movie in Model.TopRatedMovies)
                {
                    <partial name="_MovieCard" for="@movie" />
                }
            </div>
             <button class="more-btn">View Top Rated Movies</button>
        </section>
    </section >

     <section class="tv-section">
        <h1 class="section-title">TV-Shows</h1>
        <section class="section-overview">
            <h2 class="section-subtitle">Popular TV-Shows</h2>
            <button class="previous-btn"><img src="images/previous.png" alt=""></button>
            <button class="next-btn"><img src="images/next.png" alt=""></button>
            <div class="card-container">
                @foreach (var serie in Model.PopularTVSeries)
                {
                    <partial name="_TvCard" for="@serie" />
                }
            </div>
             <button class="more-btn">View Popular Shows</button>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Top rated TV-Shows</h2>
            <button class="previous-btn"><img src="images/previous.png" alt=""></button>
            <button class="next-btn"><img src="images/next.png" alt=""></button>
            <div class="card-container">
                @foreach (var serie in Model.TopRatedTVSeries)
                {
                    <partial name="_TvCard" for="@serie" />
                }
            </div>
            <button class="more-btn">View Top Rated Shows</button>
        </section>
    </section>


</div>

