@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to my MovieDb!</h1>
            <p>This is a project created for ITalent</p>
        </div>
    </div>
    <section>
        <h1 class="section-title">Movies</h1>
        <section class="section-overview">
            <h2 class="section-subtitle">Now In Theaters</h2>
            <partial name="_MovieCarousel" for="@Model.TheaterMovies" />
                <a class="more-btn" asp-controller="Movie" asp-action="Theater">
                    View More In Theaters
                </a>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Popular Movies</h2>
            <partial name="_MovieCarousel" for="@Model.PopularMovies" />
                <a class="more-btn" asp-controller="Movie" asp-action="Popular">
                    View More Popular
                </a>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Top Rated Movies</h2>
            <partial name="_MovieCarousel" for="@Model.TopRatedMovies" />
                <a class="more-btn" asp-controller="Movie" asp-action="TopRated">
                    View More Top Rated
                </a>
        </section>
    </section>

    <section class="tv-section">
        <h1 class="section-title">TV-Shows</h1>
        <section class="section-overview">
            <h2 class="section-subtitle">Popular TV-Shows</h2>
            <partial name="_TvCarousel" for="@Model.TopRatedTVSeries" />
            <a class="more-btn" asp-controller="TV" asp-action="Popular">
                    View More Popular
                </a>
        </section>

        <section class="section-overview">
            <h2 class="section-subtitle">Top rated TV-Shows</h2>
            <partial name="_TvCarousel" for="@Model.PopularTVSeries" />
             <a class="more-btn" asp-controller="TV" asp-action="TopRated">
                    View More Top Rated
                </a>
        </section>
    </section>


</div>

